.display-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.flex-direction-column {
    flex-direction: column;
}
.flex {
    flex: 1;
}
.justify-content-between {
    justify-content: space-between;
}