.icon{
    width: 20px;
    height: 20px;
    background: url(../icons/ICON.svg) no-repeat;
    display: inline-block;
    margin-bottom: 12px;
    
}
.icon-default {
    width: 20px;
    height: 20px;
    background: url(../icons/ICON.svg) no-repeat;
   
    
}

.icon-sb-recrument{
    width: 20px;
    height: 20px;
    background-position: -98px -114px;
}
.icon-candidate{
    width: 20px;
    height: 19px;
    background-position: -26px -114px;
}
.icon-calendar{
    width: 20px;
    height: 20px;
    background-position: -146px -114px;
}
.icon-storage{
    width: 20px;
    height: 20px;
    background-position: -2px -114px;
}
.icon-marketing{
    width: 22px;
    height: 21px;
    background-position: -73px -633px;
    filter: brightness(0);
    

}
.icon-job{
    width: 20px;
    height: 21px;
    background-position: -338px -113px;
}
.icon-aimarketing{
    width: 14px;
    height: 12px;
    background-position: -209px -2px;
    filter: brightness(0);
    transform: scale(1.2);
    
}
.icon-chat{
    width: 18px;
    height: 18px;
    background-position: -75px -847px;
    filter: brightness(0);
}
.icon-report{
    width: 20px;
    height: 20px;
    background-position: -74px -114px;
}
.icon-settings{
    width: 20px;
    height: 20px;
    background-position: -2px -138px;
}
.icon-ideas{
    width: 20px;
    height: 20px;
    background-position: -244px -894px;
    
}
.icon-details{
    width: 20px;
    height: 18px;
    background-position: -14px -47px;
}
.icon-view{
    width: 54px;
    height: 54px;
    background-position: -53px -411px;
    transform: scale(0.5);
    
}

.icon-search{
    width: 23px;
    height: 23px;
    background-position: -169px -113px;
}
.icon-word{
    width: 21px;
    height: 21px;
    background-position: 0 -608px;
}
.icon-view-color{
    color: black;
}